alembic
aredis
deepspeech==0.9.3
environs
ffmpeg-python
halo
numpy
psycopg2
pyaudio
requests
sanic
sanic-jwt
sanic-validation
sanic_cors
scipy
sqlalchemy
webrtcvad
werkzeug
websocket-client
prometheus-fastapi-instrumentator==5.9.1
